<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.sap.cloudwave.caspott.view.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Caspott"
            class="com.sap.cloudwave.caspott.view.Perspective"
            id="com.sap.cloudwave.caspott.view.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <e4view
            class="com.sap.cloudwave.caspott.view.CaspottView"
            icon="icons/magnifying_glass.png"
            id="com.sap.cloudwave.caspott.view.CaspottView"
            name="Caspott"
            restorable="true">
      </e4view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="com.sap.cloudwave.caspott.view.CaspottView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.TaskList"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
